</body>
<br>
<hr>
<footer>
    <%= new Date().toLocaleDateString() %><br>
    <%= new Date().toLocaleTimeString() %><br>
    Hugo Aguero Arrieta - 2022 - App Web MVC - Creación de servidor con ExpressJs
</footer>
</html>